{% extends 'main/base.html' %}

{% block title %}Про нас{% endblock %}

{% block content %}
    <div class="features">
        <h1>Про нас</h1>
        <p>Наша команда состоит из поклонников астрономии, ученых и любознательных людей, объединенных общей страстью к изучению космоса. Мы стремимся к тому, чтобы каждый, кто посещает наш сайт, мог найти что-то интересное и увлекательное, будь то факты о планетах, последние научные открытия или интересные теории о происхождении вселенной.</p>
        <a href="{% url 'news_home'%}" class="btn btn-info">Перейти к Новостям</a>
    </div>
{% endblock %}