{% extends 'main/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    {% csrf_token %}
    <div class="features">
        <h1>{{ title }}</h1>
        <p>На сайте "Planets" мы стремимся не только расширить знания о космосе и планетах, но и вдохновить всех нас на великие открытия и исследования. Мы гордимся тем, что предоставляем платформу для обмена знаниями и идеями об удивительных объектах в нашей солнечной системе и за её пределами.
            Наша миссия - делиться знаниями, вдохновлять и расширять горизонты сознания. Мы верим, что познание космоса не только углубляет наше понимание окружающего мира, но и помогает нам лучше понять самих себя и наше место во Вселенной.
            Присоединяйтесь к нам в нашем увлекательном путешествии по просторам космоса! На сайте "Planets" всегда есть место для новых исследователей и любознательных умов.</p>
        <a href="{% url 'main:about' %}"><button class="btn btn-info">На страницу про нас</button></a>
    </div>
{% endblock %}